<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stuntech.stunting">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="com.stuntech.stunting.root.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashScreen"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.stuntech.stunting.ui.health_status.HealthStatusReadMoreActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.reminderv2.edit.ReminderV2EditActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.reminderv2.add.ReminderV2AddActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.reminderv2.ReminderV2Activity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.fun.play.PlayActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.fun.FunActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.stunting_tribute.detail.AddReviewActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.stunting_tribute.StuntingTributeActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.stunting_tribute.detail.TributeDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.reminder.ReminderAddActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.reminder.ReminderActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.care_nutrition.detail.CareDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.care_nutrition.CareCategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.care_nutrition.CareNutritionActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.nutrition_info.NutritionInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.nutrition_info.NutritionInfoCategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.stunting_map.StuntingMapActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.food_help.FoodHelpActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.food_help.detail.FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.hello_stunting.HelloStuntingActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.hello_stunting.detail.HelloDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.StuntingHealth"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="com.stuntech.stunting.ui.info.StuntingInfoActivityBak"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="com.stuntech.stunting.ui.info.StuntingInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.info.detail.InfoDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.stunting_health.StuntingHealthActivity"
            android:exported="false" />
        <activity
            android:name="com.stuntech.stunting.ui.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.stuntech.stunting.ui.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <receiver
            android:name="com.stuntech.stunting.components.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>